@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Provider</title>
</head>
<body>
  <div>
    You should only see this when using a browser.
  </div>
</body>
</html>
