# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
docs/.DS_Store

.DS_Store

*.xcbkptlist

*.xcuserstate

code/clients/iOS/UShadow/UShadow.xcodeproj/project.xcworkspace/xcuserdata/tomasmcguinness.xcuserdatad/UserInterfaceState.xcuserstate
