@{
    ViewBag.Title = "Logon";
}

<div class="page-header">
    <h1>Locations <small>access your UShadow</small></h1>
</div>
<p>To gain access to your UShadow, you must authenticate yourself. To do this, launch the UShadow iOS app and open the Verify tab. Scan this code to complete authenticate.</p>
<div style="width: 500px; height: 500px; margin-left: auto; margin-right: auto; text-align:center;">
    <img src="https://chart.googleapis.com/chart?cht=qr&chl=SomeDataToQRify&chs=400x400" /><br />
    <strong>0:30</strong>
</div>

