<div class="hero-unit">
  <h1>UShadow - your digital you</h1>
  <h2>UShadow is a new way to use OpenID.
  </h2>
  <p>
    Rather than having a username and password,
    your iPhone becomes the way you authorize access. 
  </p>
  <p>To find out more, just click the Get Started button below.</p>
  <p>
    <a class="btn btn-primary btn-large" href="@Url.Action("Index", "Registration")">Get
      Started &raquo;</a>
  </p>
</div>
