<div class="hero-unit">
    <h1>UShadow - your digital you</h1>
    <p>
        A UShadow is your digital presence on the web. It is something that people can communicate with and trust.
    </p>
    <ul>
        <li>Messaging</li>
        <li>File Transfer</li>
        <li>Location Management</li>
    </ul>
    <p><a class="btn btn-primary btn-large" href="@Url.Action("Index", "Registration")">Get Started &raquo;</a></p>
</div>
