@{
  ViewBag.Title = "Index";
}

<div class="page-header">
  <h1>Registration</h1>
</div>
<h2>Getting Started</h2>
<p>
  As UShadow is in beta at this time, the iPhone application is not available from
  the App Store. If you would like to be included in the beta, apply here.
</p>
<button class="btn btn-primary">Request Access</button>
<h2>Got the Client?</h2>
<p>
  Registering for a UShadow does not require the creating of an account or handing
  over your personal details. Just enter your mobile number below. UShadow will send
  you a text message containing a link. Once you open the link, the UShadow App will
  be launched and pairing will be completed.
</p>
@using (Html.BeginForm())
{
  <label>Your mobile number</label>
  @Html.TextBox("mobileNumber")
  <span class="help-block">Ensure you have the iOS app installed first.</span>

  <button class="btn btn-primary">Send Text Message</button>
}
